<!-- ko with: home -->
<div class="jumbotron">
    <h1>VoteApp!</h1>
    <p class="lead">VoteApp is a great way of creating scalable(*) polls! </p>
    <p><a href="http://github.com/muratg/voteapp" class="btn btn-primary btn-large">View project page. &raquo;</a></p>
    <p> (*) This feature is not yet implemented.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>What is this?</h2>
        <p>
            ... 
            (Description of the site)
            ...
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create and manage polls!</h2>
        <p>
            ...
                (Some info about management)
            ...
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vote on your favorite polls, and view results instantly!</h2>
        <p>
            ...
            (Some other text)
            ...
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>
<!-- /ko -->
